:root {
    --font-family: Montserrat;
    --font-bold: LEMON MILK;
    --font-nomal: SVN-Century Gothic
}
.header {
    width: 100%;
    height: 85px;
    display: flex;
    background-color: white;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between; /* Đẩy các phần tử về hai bên của header */
    padding: 0 20px; /* Thêm khoảng cách hai bên */
    border-bottom: 1px solid black;
    position: fixed; /* Đảm bảo header luôn ở trên đầu */
    top: 0; /* Đặt header ở phía trên cùng */
    left: 0; /* Đặt header ở phía bên trái */
    z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
}
.header__navbar {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
}
/* Header logo */
.header__navbar-logo-text {
    font-size: 60px;
    padding-top: 5px;
    padding-left: 50px;
}
.header__navbar-logo-txt1 {
    /* font-family: iCiel Crocante; */
    font-family: var(--font-bold);
}
.header__navbar-logo-txt2 {
    font-family: SVN-Century Gothic;
}
.header__navbar-left {
    justify-content: flex-start; /* Căn chỉnh phần tử bên trái */
}
/* Header item */
.header__navbar-right {
    margin-top: -22px;
    justify-content: flex-end; /* Căn chỉnh phần tử bên phải */
}
.header__navbar-item {
    margin-top: 22px;
    margin-left: 35px;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: bold;      
}
.header__navbar-item a {
    text-decoration: none;
    color: black;
    display: block;
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
    will-change: transform; /* Tối ưu hóa hiệu ứng hover */
}
.header__navbar-item a:hover {
    color: orange;
    transform: scale(1.2); /* Phóng to chữ khi hover */
}

/* CONTAINER */
.container {
    width: 100%;
    height: 3850px;
    margin-top: 90px;
}

/* Container advertisment */
.container_ad {
    display: flex;
    width: 100%;
    height: 650px;
}
/* Container left */
.container_ad_left {
    width: 50%;
    padding-left: 150px;
}
.container_ad_left h1 {
    position: relative;
    font-family: var(--font-bold);
    font-weight: bold;
    font-size: 80px;
    top: 80px;
    left: 50px;
}
.container_ad_left h1 span {
    color: #089da1;
}
.container_ad_left .main_btn {
    background: #089da1;
    padding: 20px 30px;
    position: relative;
    top: 90px;
    left: 100px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-family: var(--font-bold);
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.3s ease; /* Chuyển đổi màu sắc chậm dần */
    will-change: background-color; /* Tối ưu hóa hiệu ứng hover */
}
.container_ad_left .main_btn:hover {
    background-color: orange;
}
/* Container right */
.container_ad_right {
    width: 50%;
    margin-top: 50px;
}
.container_ad_right img {
    width: 355px; 
    height: 550px; 
    margin-left: 100px;
}
#next, #prev{
    position: absolute;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 80px;
    font-family: monospace;
    left: 950px;
    top: 350px;
    transition: background-color 0.3s ease; /* Chuyển đổi màu sắc chậm dần */
    will-change: background-color; /* Tối ưu hóa hiệu ứng hover */
}
#next{
    left: unset;
    right: 400px;
}
#next:hover{
    color: orange;
}
#prev:hover{
    color: orange;
}

/* Container sales */
.container_sales {
    width: 100%;
    height: 650px;
    background-color: #70b2d9;
    background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
}
.container_sales_top {
    width: 90%;
    height: 90px;
    position: relative;
    top: 30px;
    left: 95px;
    background-color: white;
    border-radius: 25px;
    display: flex;
}
.container_sales_top img {
    width: 400px;
    height: 50px;
    margin-top: 18px;
    margin-left: -20px;
}
.container_sales_top span {
    font-family: var(--font-nomal);
    font-weight: bold;
    font-size: 20px;
    margin-top: 35px;
}
.container_sales_top_countdown {
    display: flex;
    margin-left: 10px;
}
.container_sales_top_countdown span {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
}
.container_sales_top_countdown .box{
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-bold);
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
}
.container_sales_top_right span {
    margin-left: 700px;
    position: relative;
    top: 31px;
    font-size: 25px;
    transition: transform 0.3s ease, color 0.3s ease; /* Add color transition for smooth color change */
    will-change: transform; /* Optimize for transform */
}
.container_sales_top_right span:hover {
    color: orange;
    transform: scale(1.2); /* Phóng to chữ khi hover */
}

/*Books*/
.container_sales_item{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
    font-family: var(--font-nomal);
}
.featured_book_card{
    width: 250px;
    height: 440px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
    background-color: white;
    border-radius: 15px;
    transition: box-shadow 0.5s ease; /* Chuyển đổi màu sắc chậm dần */
    will-change: box-shadow; /* Tối ưu hóa hiệu ứng hover */
}
.featured_book_card:hover{
    box-shadow: 0 0 15px black;
}

.featured_book_card .featurde_book_img img{
    width: 150px;
    height: 200px;
    margin-top: 15px;
    transition: 0.5s;
}
.featured_book_card .featurde_book_img img:hover {
    transform: scale(1.07);
}
.featured_book_card .featurde_book_tag h2{
    margin: 12px;
}

.featured_book_card .featurde_book_tag .writer{
    color: #919191;
}

.featured_book_card .featurde_book_tag .categories{
    color: #089da1;
    margin-top: 8px;
}

.featured_book_card .featurde_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_book_card .featurde_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_book_card .featurde_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}

/* Container list category */
.container_listcate {
    width: 95%;    
    height: 340px;
    margin-top: 80px;
    border-radius: 30px;
    margin-left: 45px;
    background-color: #70b2d9;
    background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
}
.container_listcate_top {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(173, 172, 172);
    background-color: white;
    border-top: 1px solid rgb(173, 172, 172);
    border-left: 1px solid rgb(173, 172, 172);
    border-right: 1px solid rgb(173, 172, 172);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.container_listcate_top span {
    font-family: var(--font-nomal);
    font-weight: bold;
    color: rgb(90, 90, 90);
    font-size: 27px;
    margin-left: 40px;
    position: relative;
    top: 20px;
}
.container_listcate_item {
    height: 250px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8 {
    transition: box-shadow 0.5s ease; /* Chuyển đổi màu sắc chậm dần */
    will-change: box-shadow; /* Tối ưu hóa hiệu ứng hover */
}
.item1:hover {
    box-shadow: 0 0 20px black;
}
.item2:hover {
    box-shadow: 0 0 20px black;
}
.item3:hover {
    box-shadow: 0 0 20px black;
}
.item4:hover {
    box-shadow: 0 0 20px black;
}
.item5:hover {
    box-shadow: 0 0 20px black;
}
.item6:hover {
    box-shadow: 0 0 20px black;
}
.item7:hover {
    box-shadow: 0 0 20px black;
}
.item8:hover {
    box-shadow: 0 0 20px black;
}
.container_listcate_item img {
    width: 130px;
    height: 170px;
    margin-top: 10px;
    margin-left: 15px;
    transition: 0.5s;
}
.container_listcate_item img:hover {
    transform: scale(1.05);
}
.container_listcate_item span {
    font-family: var(--font-nomal);
    /* font-weight: bold; */
    font-size: 20px;
    /* color:#089da1; */
    color:black;
    position: relative;
    top: 10px;
    left: 43px;
}
.container_listcate_item .item1 {
    height: 230px;
    width: 160px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.container_listcate_item .item2 {
    height: 230px;
    width: 160px;
    margin-left: 50px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.container_listcate_item .item2 span{
    position: relative;
    left: 40px;
}
.container_listcate_item .item3 {
    height: 230px;
    width: 160px;
    margin-left: 50px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.container_listcate_item .item3 span{
    position: relative;
    left: 32px;
}
.container_listcate_item .item4 {
    height: 230px;
    width: 160px;
    margin-left: 50px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.container_listcate_item .item4 span{
    position: relative;
    left: 46px;
}
.container_listcate_item .item5 {
    height: 230px;
    width: 160px;
    margin-left: 50px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.container_listcate_item .item5 span{
    position: relative;
    left: 26px;
}
.container_listcate_item .item6 {
    height: 230px;
    width: 160px;
    margin-left: 50px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.container_listcate_item .item6 span{
    position: relative;
    left: 38px;
}
.container_listcate_item .item7 {
    height: 230px;
    width: 160px;
    margin-left: 50px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.container_listcate_item .item7 span{
    position: relative;
    left: 45px;
}
.container_listcate_item .item8 {
    height: 230px;
    width: 160px;
    margin-left: 50px;
    background-color: white;
    border-radius: 10px;
    display: block;
}
.container_listcate_item .item8 span{
    position: relative;
    left: 46px;
}

/* Container list book */
.headtext {
    font-family: var(--font-nomal);
    font-weight: bold;
    font-size: 30px;
    color: rgb(90, 90, 90);
    position: relative;
    top: 45px;
    left: 90px;
}
.headline_listbook {
    width: 90%;
    height: 1px;
    background-color: black;
    margin-top: 10px;
    margin-left: 90px;
}
.container_listbook_list1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.container_listbook_list1 a {
    text-decoration: none;
    color: inherit
}
.featured_book_card1{
    width: 330px;
    height: 440px;
    text-align: center;
    padding: 5px;
    margin: auto 5px;
    background-color: white;
    border-right: 1px solid black;
    transition: box-shadow 0.5s ease; /* Chuyển đổi màu sắc chậm dần */
    will-change: box-shadow; /* Tối ưu hóa hiệu ứng hover */
    font-family: var(--font-nomal);
}
#temp1 {
    border-right: 0px;
}
.featured_book_card1:hover{
    box-shadow: 0 0 15px black;
}
.featured_book_card1 .featurde_book_img img{
    width: 150px;
    height: 200px;
    margin-top: 15px;
    transition: 0.5s;
}
.featured_book_card1 .featurde_book_img img:hover {
    transform: scale(1.07);
}
.featured_book_card1 .featurde_book_tag h2{
    margin: 12px;
    
    font-weight: bold;
}

.featured_book_card1 .featurde_book_tag .writer{
    color: #919191;
}

.featured_book_card1 .featurde_book_tag .categories{
    color: #089da1;
    margin-top: 8px;
}

.featured_book_card1 .featurde_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_book_card1 .featurde_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_book_card1 .featurde_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
    position: relative;
    top: 15px;
}
.temp2 {
    display: flex;
}
.searchbar {
    height: 40px;
    width: 300px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 15px;
    align-items: center;
    border: 1px solid rgb(165, 142, 142);
    font-family: var(--font-nomal);
    font-size: 20px;
    position: relative;
    top: -4px;
    left: 1400px;
}
.searchbar:hover input{
    width: 400px;
}
.searchbar input {
    width: 0;
    outline: none;
    border: none;
    position: relative;
    left: -60px;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.searchbar a .fas {
    color: rgb(56, 57, 56);
    font-size: 18px;
}
.searchbar img {
    position: relative;
    left: -75px;
    top: 0px
}
/* Footer */
.footer {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    border-top: 1px solid rgb(150, 150, 150);
}
.footer_top {
    width: 100%;
    height: 50%;
    background-color: white;
    border-bottom: 1px solid rgb(150, 150, 150);
    text-align: center;
}
.footer_top span {
    color: #333;
    font-family: var(--font-nomal);
    font-weight: bold;
    position: relative;
    top: 23px;
    font-size: 20px;
}
.footer_bottom {
    width: 100%;
    height: 50%;
    background-color: #a09f9f;
    text-align: center;
}
.footer_bottom span {
    color: #333;
    font-family: var(--font-nomal);
    font-weight: bold;
    position: relative;
    top: 23px;
    font-size: 20px;
}
